streamlit==1.37.1
python-dotenv==1.0.1
pydantic==2.9.2
requests==2.32.3
tqdm==4.66.5
numpy==1.26.4
pdfminer.six==20231228
pillow==10.4.0
pytesseract==0.3.13
opencv-python==4.10.0.84
ffmpeg-python==0.2.0
faster-whisper==1.0.3
imageio-ffmpeg==0.4.9
rank-bm25==0.2.2
networkx==3.3
pyvis==0.3.2
qdrant-client==1.9.2
pytest==8.2.1
jinja2